<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated unimodel_webapp -->
      <package
            uri="http://www.example.org/unimodel_webapp"
            class="it.univaq.disim.unimodel_webapp.Unimodel_webappPackage"
            genModel="model/unimodel_webapp.genmodel"/>
   </extension>

</plugin>
